<%= form_for @activity do |f| %>
	<p>
		Etkinlik Adı : <%= f.text_field :name %>
	</p>
	<p>
		Mekan İsmi : <%= f.text_field :place_name %>
	</p>
	<p>
		Mekan Adress : <%= f.text_field :place_adress %>
	</p>
	<p>
		Başlangıç Tarihi : <%= f.date_select :start_date %>
	</p>
	<p>
		Bitiş Tarihi : <%= f.date_select :finish_date %>
	</p>
	<p>
		Ücret : <%= f.text_field :paid %>
	</p>
	<p>
		Yaş Grubu : <%= f.text_field :age_group %>
	</p>
	<p>
		Cinsiyet : <%= f.text_field :gender %>
	</p>
	<p>
		Açıklama : <%= f.text_area :explain %>
	</p>
	<p>
		Etkinlik Resimleri : <%= f.file_field  :image1 %></br>
							 <%= f.file_field  :image2 %></br>
							 <%= f.file_field  :image3 %></br>	
	</p>
<% end %> 