<p> 
	Üye Resmi : <%= image_tag(@user.profil_image, :size => "64x64", :alt => "Show Group") %>
</p>
<p> 
	Üye Adı : <%= @user.name %>
</p>
<p>
 	Üye Soyadı : <%= @user.lastname %> 
</p>
<p> 
	Doğum Tarihi : <%= @user.birth_date %> 
</p>
<p> 
	Cinsiyet : <%= @user.gender %>
</p>
<p> 
	Adress : <%= @user.adress %>
</p>