<h1> Yeni Üye Kayıt </h1>
<%= form_for @user do |f| %>
	<p>
		Adı : <%= f.text_field :name %>
	</p>
	<p>
		Soyadı : <%= f.text_field :lastname %>
	</p>
	<p>
		Doğum Tarihi : <%= f.date_select :birth_date %>
	</p>
	<p>
		Cinsiyet : <%= f.select :gender, options_for_select(%w[Erkek Kadın]) %>
	</p>
	<p>
		Profil İmage : <%= f.file_field :profil_image %>
	</p>
	<p>
		Adres : <%= f.text_area :adress %>
	</p>
	<p>
		Password : <%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit "Üye Kaydet" %>
	</p>
<% end %>